# Terraform
# *.tfstate *.tfstate.backup terraform.tfstate.*.backup
*.tfstate*
.terraform/
.terraform.lock.hcl
*.tfvars
crash.log

# Ansible
*.retry
group_vars/all.yml
vault_pass.txt

# Claves / certificados
*.pem
*.key
id_rsa*
id_ed25519*

# Sistema
.DS_Store
__pycache__/
*.pyc
